.section {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: gap 0.3s;

  @media (min-width: 1280px) and (max-width: 1440px) {
    gap: 5px;
  }
  @media (min-width: 1080px) and (max-width: 1280px) {
    gap: 4px;
  }
  @media (min-width: 768px) and (max-width: 1080px) {
    gap: 3px;
  }
  @media (max-width: 768px) {
    gap: 2px;
  }

  .name {
    font-size: 14px;
    font-weight: 600;
    transition: font-size 0.3s;

    @media (min-width: 768px) and (max-width: 1080px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      font-size: 11px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 2px;


    .field {
      font-size: 12px;
      transition: font-size 0.3s;

      @media (min-width: 1280px) and (max-width: 1440px) {
        font-size: 11px;
      }
      @media (min-width: 1080px) and (max-width: 1280px) {
        gap: 4px;
        font-size: 10px;
      }
      @media (min-width: 768px) and (max-width: 1080px) {
        font-size: 9px;
      }
      @media (max-width: 768px) {
        font-size: 8px;
      }

      .title {
        color: gray;
        font-size: 9px;
        transition: font-size 0.3s;

        @media (min-width: 1280px) and (max-width: 1440px) {
          font-size: 8px;
        }
        @media (min-width: 1080px) and (max-width: 1280px) {
          gap: 4px;
          font-size: 7px;
        }
        @media (min-width: 768px) and (max-width: 1080px) {
          font-size: 6px;
        }
        @media (max-width: 768px) {
          font-size: 5px;
        }
      }
      .text {
        .period {
          display: flex;
          flex-direction: row;
        }
      }
    }

  }
}